body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #8b5a5a, #dff4f37d);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.chat-container {
  width: 400px;
  background: rgba(63, 48, 15, 0.15);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

#messages {
  height: 350px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
}

.message {
  background: rgba(251, 246, 246, 0.2);
  margin: 8px 0;
  padding: 8px 12px;
  border-radius: 10px;
  font-size: 18px;
  position: relative;
  transition: 0.2s;
  color:#110101
}

.message:hover {
  background: rgba(255, 255, 255, 0.3);
}

.message strong {
  color: #814202;
}

.message small {
  display: block;
  font-size: 14px;
  color: #ccc;
  margin-top: 3px;
}

.delBtn {
  position: absolute;
  top: 6px;
  right: 6px;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  color: #ff5c5c;
  border-radius: 50%;
  font-size: 10px;
  padding: 4px 6px;
  cursor: pointer;
  transition: 0.3s;
}

.delBtn:hover {
  background: #ff5c5c;
  color: white;
  transform: scale(1.1);
}

.input-section {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
}

button {
  background-color: #ff8c00;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ffa733;
  transform: scale(1.05);
}
